<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tajm</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="responsive-nav" id="js-responsive-nav">
        <ul class="responsive-nav__list">
            <li class="responsive-nav__item">
                @Html.ActionLink("Hem", "Index", "Home", null, new { @class = "responsive-nav__link" })
            </li>
            <li class="responsive-nav__item">
                @Html.ActionLink("Kunder", "Index", "Customers", null, new { @class = "responsive-nav__link" })
            </li>
            <li class="responsive-nav__item">
                @Html.ActionLink("Resurser", "Index", "Employees", null, new { @class = "responsive-nav__link" })
            </li>
            <li class="responsive-nav__item">
                @Html.ActionLink("Uppgifter", "Index", "WorkTasks", null, new { @class = "responsive-nav__link" })
            </li>
        </ul>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.2.4/riot.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/moment-duration-format.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/layoutscript")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/app/tags/tags.js"></script>
    <script src="~/Scripts/app/polyfills.js"></script>
    <script src="~/Scripts/app/models.js"></script>
    <script src="~/Scripts/app/store.js"></script>
    <script src="~/Scripts/app/dataloader.js"></script>
    <script>
        moment.locale('sv');
        riot.mount('*')
    </script>
</body>
</html>

